body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #191919;
}	

.HOME-deslogado {
  background-color: #191919;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.HOME-deslogado .div {
  background-color: #191919;
  width: 50vh;
  height: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;
}

.HOME-deslogado .overlap-group {
  position: absolute;
  width: 410px;
  height: 662px;
  top: 32px;
  left: 0;
}

.HOME-deslogado .rectangle {
  width: 195px;
  height: 44px;
  top: 574px;
  left: 106px;
  position: absolute;
}

.HOME-deslogado .text-wrapper {
  position: absolute;
  width: 62px;
  height: 24px;
  top: 583px;
  left: 172px;
  font-family: "Poppins";
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.HOME-deslogado .img {
  width: 195px;
  height: 42px;
  top: 620px;
  left: 106px;
  position: absolute;
}

.HOME-deslogado .text-wrapper-2 {
  position: absolute;
  width: 175px;
  height: 44px;
  top: 617px;
  left: 116px;
  font-family: "Poppins";
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.HOME-deslogado .p {
  position: absolute;
  height: 18px;
  top: 555px;
  left: 109px;
  font-family: "Poppins";
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.HOME-deslogado .bg-image {
  position: absolute;
  width: 410px;
  height: 414px;
  top: 142px;
  left: 0;
  object-fit: cover;
}

.HOME-deslogado .vetor-home {
  position: absolute;
  width: 284px;
  height: 466px;
  top: 116px;
  left: 61px;
  object-fit: cover;
}

.HOME-deslogado .logo-barbearia {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  left: 128px;
  object-fit: cover;
}

.HOME-deslogado .overlap {
  position: absolute;
  width: 77px;
  height: 31px;
  top: 16px;
  left: 16px;
}

.HOME-deslogado .rectangle-2 {
  width: 77px;
  height: 31px;
  top: 0;
  left: 0;
  position: absolute;
}

.HOME-deslogado .text-wrapper-3 {
  position: absolute;
  height: 21px;
  top: 4px;
  left: 16px;
  font-family: "Poppins";
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.HOME-deslogado .div-wrapper {
  position: absolute;
  width: 84px;
  height: 19px;
  top: 708px;
  left: 165px;
  border-radius: 5px;
  border: 1px solid;
  border-color: var(--variable-collection-c1);
}

.HOME-deslogado .text-wrapper-4 {
  position: absolute;
  height: 15px;
  top: 0;
  left: 20px;
  font-family: "Poppins";
  font-weight: 300;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.HOME-deslogado .instagram {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 16px;
  left: 370px;
}
